<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927434673305-nmstik0gaei007pp5tb1a1952ulsfr2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927434673305-nmstik0gaei007pp5tb1a1952ulsfr2v</string>
	<key>API_KEY</key>
	<string>AIzaSyDINlvkkB1Fy9x68rmygNc3CeCVCIJ4mJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>927434673305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.prueba</string>
	<key>PROJECT_ID</key>
	<string>productos-d48f1</string>
	<key>STORAGE_BUCKET</key>
	<string>productos-d48f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927434673305:ios:7817f38088c570b9067c08</string>
</dict>
</plist>